body{
    background-color: blue;
}
.main-container{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
    background-color: white;
    width: 400px;
    height: 200px;
}
.clock{
    color: rgb(252, 17, 17);
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    color: rgb(76, 0, 255);
    font-size: 1.5rem;
    font-weight: bolder;
}
.btn button{
    outline: none;
    border: none;
    background: rgb(18, 147, 207);
    color: rgb(233, 16, 16);
    width: 100px;
}
.time{
    display: flex;
    width: 300px;
    flex-direction: row;
    justify-content: space-around;
}